<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfOrtBaigeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfOrtBaige">
        <id column="id" property="id" />
        <result column="factory" property="factory" />
        <result column="model" property="model" />
        <result column="color" property="color" />
        <result column="process" property="process" />
        <result column="production_phase" property="productionPhase" />
        <result column="config" property="config" />
        <result column="batch" property="batch" />
        <result column="create_time" property="createTime" />
        <result column="test_time" property="testTime" />
        <result column="sample" property="sample" />
        <result column="mask" property="mask" />
        <result column="mask_img" property="maskImg" />
        <result column="ar" property="ar" />
        <result column="ar_img" property="arImg" />
        <result column="irbsar" property="irbsar" />
        <result column="irbsar_img" property="irbsarImg" />
    </resultMap>

</mapper>
