<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.ort.mapper.DfOrtColorDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.ort.entity.DfOrtColorDetail">
        <id column="id" property="id" />
        <result column="process" property="process" />
        <result column="type" property="type" />
        <result column="batch" property="batch" />
        <result column="day_or_night" property="dayOrNight" />
        <result column="test_time" property="testTime" />
        <result column="dl" property="dl" />
        <result column="da" property="da" />
        <result column="db" property="db" />
        <result column="de94" property="de94" />
        <result column="gloss" property="gloss" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
